<p id="notice"><%= notice %></p>

<h2 class="font-sans " >Users: </h2>

<table class="flex-col container " >

  <thead>
  <tr class="p-2 font-bold font-sans lg-4" >
    <td>Name</td>
    <td>Showing</td>
    <td>Editing</td>
    <td>Deleting</td>
  </tr>
  </thead>

  <tbody class="align-middle">
  <% @users.each do |user| %>
  <tr class="align-middle">
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
    <%end%>
  </tbody>

</table>

<p class="py-3"><%= link_to 'Create new User', new_user_path, class:"style-none font-sans bg-indigo text-white rounded p-2" %></p>

